
@*下面這三行其實沒有也沒差*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*路徑要注意，~是在網站目錄後找。沒有~則是在整個網站/後面找*@
        @*controls一定要有，否則沒有控制列*@
        <video src="/Content/movie.mp4" controls></video>
        <video src="~/Content/movie.mp4" controls></video>
        <video src="/GetVideo/Home" controls></video>
        <video src="~/GetVideo/Home" controls></video>
        @*helper產生網址*@
        <video src="@Url.Action("GetVideo","Home")" controls autoplay></video>
    </div>
</body>
</html>
